<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myItemStockLevelLabel" jhiTranslate="helloBeerApp.itemStockLevel.home.createOrEditLabel">Create or edit a Item Stock Level</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!itemStockLevel.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="itemStockLevel.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloBeerApp.itemStockLevel.stockDate" for="field_stockDate">Stock Date</label>
            <div class="d-flex">
                <!--<input id="field_stockDate" type="datetime-local" class="form-control" name="stockDate" [(ngModel)]="itemStockLevel.stockDate"-->
                <!--required/>-->
                <p-calendar id="field_stockDate" type="datetime-local" [showIcon]="true" name="stockDate" [(ngModel)]="itemStockLevel.stockDate" showTime="true" hourFormat="24" dateFormat="yy-mm-dd"></p-calendar>

            </div>
            <div [hidden]="!(editForm.controls.stockDate?.dirty && editForm.controls.stockDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stockDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.stockDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloBeerApp.itemStockLevel.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="itemStockLevel.quantity" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloBeerApp.itemStockLevel.inventoryItem" for="field_inventoryItem">Inventory Item</label>
            <select class="form-control" id="field_inventoryItem" name="inventoryItem" [(ngModel)]="itemStockLevel.inventoryItem" >
                <option [ngValue]="null"></option>
                <option [ngValue]="inventoryItemOption.id === itemStockLevel.inventoryItem?.id ? itemStockLevel.inventoryItem : inventoryItemOption" *ngFor="let inventoryItemOption of inventoryitems; trackBy: trackInventoryItemById">{{inventoryItemOption.itemDescription}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
