
<div *ngIf="itemStockLevel">
    <h2><span jhiTranslate="helloBeerApp.itemStockLevel.detail.title">Item Stock Level</span> {{itemStockLevel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloBeerApp.itemStockLevel.stockDate">Stock Date</span></dt>
        <dd>
            <span>{{itemStockLevel.stockDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="helloBeerApp.itemStockLevel.quantity">Quantity</span></dt>
        <dd>
            <span>{{itemStockLevel.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="helloBeerApp.itemStockLevel.inventoryItem">Inventory Item</span></dt>
        <dd>
            <div *ngIf="itemStockLevel.inventoryItem">
                <a [routerLink]="['/inventory-item', itemStockLevel.inventoryItem?.id]">{{itemStockLevel.inventoryItem?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'item-stock-level/'+ itemStockLevel.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
