<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBeerLabel" jhiTranslate="helloBeerApp.beer.home.createOrEditLabel">Create or edit a Beer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!beer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="beer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloBeerApp.beer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="beer.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloBeerApp.beer.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="beer.type" id="field_type"  required>
                <option value="LAGER">{{'helloBeerApp.BeerType.LAGER' | translate}}</option>
                <option value="PILSNER">{{'helloBeerApp.BeerType.PILSNER' | translate}}</option>
                <option value="PALE_ALE">{{'helloBeerApp.BeerType.PALE_ALE' | translate}}</option>
                <option value="INDIA_PALE_ALE">{{'helloBeerApp.BeerType.INDIA_PALE_ALE' | translate}}</option>
                <option value="PORTER">{{'helloBeerApp.BeerType.PORTER' | translate}}</option>
                <option value="STOUT">{{'helloBeerApp.BeerType.STOUT' | translate}}</option>
                <option value="OTHER">{{'helloBeerApp.BeerType.OTHER' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloBeerApp.beer.brewery" for="field_brewery">Brewery</label>
            <select class="form-control" id="field_brewery" name="brewery" [(ngModel)]="beer.brewery" >
                <option [ngValue]="null"></option>
                <option [ngValue]="breweryOption.id === beer.brewery?.id ? beer.brewery : breweryOption" *ngFor="let breweryOption of breweries; trackBy: trackBreweryById">{{breweryOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
