
<div *ngIf="beer">
    <h2><span jhiTranslate="helloBeerApp.beer.detail.title">Beer</span> {{beer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloBeerApp.beer.name">Name</span></dt>
        <dd>
            <span>{{beer.name}}</span>
        </dd>
        <dt><span jhiTranslate="helloBeerApp.beer.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'helloBeerApp.BeerType.' + beer.type}}">{{beer.type}}</span>
        </dd>
        <dt><span jhiTranslate="helloBeerApp.beer.brewery">Brewery</span></dt>
        <dd>
            <div *ngIf="beer.brewery">
                <a [routerLink]="['/brewery', beer.brewery?.id]">{{beer.brewery?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'beer/'+ beer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
